
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  font-size: 0.75em;
  /* 12/16 */
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  line-height: 150%;
  width: 100%;
  margin: 0 auto;
  position: relative; }

h1 {
  font-size: 2em;
  /* 24/12 */
  margin-bottom: 1em;
  line-height: 150%; }

h2 {
  font-size: 1.75em;
  /* 21/12 */
  margin-bottom: 0.875em; }

h3 {
  font-size: 1.5em;
  /* 18/12 */
  margin-bottom: 0.75em; }

h4 {
  font-size: 1.333em;
  /* 16/12 */ }

h5 {
  font-size: 1.666667em;
  /* 14/12 */ }

h6 {
  font-size: 1em;
  /* 12/12 */ }

p {
  max-width: 30.75em;
  margin-bottom: 1em; }

ul {
  margin-bottom: 1em; }

a {
  text-decoration: none;
  font-weight: bold; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

label {
  display: inline;
  font-weight: bold; }

.s-error {
  display: inline;
  font-weight: bold;
  color: #f00; }

header {
  margin-bottom: 1em;
  padding: 5%;
  z-index: 10;
  overflow: auto; }
header a {
  border: 0; }
header #logo {
  width: 40%;
  float: left; }
header #logo img {
  width: 100%; }
header ul {
  float: right; }
header li {
  display: inline-block;
  margin-left: 1em; }

section, fieldset {
  margin-bottom: 2em; }

.nav {
  width: auto;
  position: relative;
  display: block; }
.nav li {
  width: auto; }
.nav li a {
  display: block;
  width: auto;
  padding: 0.75em 1em;
  border: 0; }
.nav li a:after {
  display: inline-block;
  float: right; }
.nav li ul {
  margin: 0; }

#primary .nav {
  position: relative; }
#primary .nav li {
  width: 23%;
  display: inline-block;
  margin: 0 auto;
  text-align: center; }
#primary .nav li a {
  padding: auto 1em; }

#primary .nav > li:hover > ul {
  display: block; }

#primary .nav li ul {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 2.5%;
  width: 95%;
  border-radius: 0.833em 0.833em 0em 0em; }

#primary .nav li ul li {
  width: 100%;
  text-align: left; }
#primary .nav li ul li:first-child {
  border-radius: 0.833em 0.833em 0em 0em; }

#secondary {
  margin: 1em auto 1.5em auto; }
#secondary li:first-child {
  border-radius: 0.833em 0.833em 0em 0em; }
#secondary li:first-child a {
  border-radius: 0.733em 0.733em 0em 0em; }
#secondary li:first-child ul a {
  border-radius: 0; }
#secondary li:last-child {
  border-radius: 0em 0em 0.833em 0.833em; }
#secondary li:last-child a {
  border-radius: 0em 0em 0.733em 0.733em; }
#secondary li:last-child ul a {
  border-radius: 0; }
#secondary li:last-child ul li:last-child, #secondary li:last-child ul li:last-child a {
  border-radius: 0em 0em 0.733em 0.733em; }

#secondary.nav li:first-child:last-child {
  border-radius: 0.833em; }
#secondary.nav li:first-child:last-child a {
  border-radius: 0.733em; }

footer #secondary {
  width: 90%; }

.stack {
  display: block;
  width: auto;
  margin: -0.5em auto 1em auto;
  padding: 0.75em 1em;
  border-radius: 0.833em; }
.stack:after {
  display: inline-block;
  float: right; }

input, label {
  display: block; }

input[type="submit"], .buttons .button, li a.button {
  display: block;
  width: 100%;
  margin: 0.833em 0;
  padding: 0.833em 1.667em;
  min-height: 3.667em;
  font-size: 1.167em;
  border-radius: 0.833em;
  -webkit-border-radius: 0.8333333em;
  cursor: pointer; }

input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="number"], input[type="search"], select, option, textarea {
  width: 96%;
  padding: 3% 2%;
  border-radius: 0.33em;
  -webkit-border-radius: 0.333em;
  font-size: 1.3333333em; }

select, option {
  width: 100%; }

input[type="checkbox"], input[type="radio"] {
  display: inline-block; }

input[type="number"] {
  width: 50%; }

textarea {
  width: 96%;
  border-radius: 0.333em;
  -webkit-border-radius: 0.333em; }

form li {
  margin-bottom: 1em; }

address strong, address span {
  display: block; }

footer {
  margin-top: 2em; }
footer ul {
  margin: 1em 0; }

.tools {
  width: 90%;
  margin: 1em auto;
  overflow: auto; }
.tools li {
  display: inline-block;
  text-align: center; }
.tools li:first-child {
  float: left; }
.tools li:last-child {
  float: right; }

li a.button {
  width: auto;
  height: 2.5em;
  line-height: 300%;
  font-size: inherit;
  font-weight: regular;
  text-align: center; }

#settings {
  padding: 0 5%;
  margin-bottom: 1em;
  overflow: auto; }
#settings form {
  width: 45%; }
#settings form:first-child {
  float: left; }
#settings form:last-child {
  float: right; }

#welcome {
  display: block;
  width: auto;
  text-align: center; }

#breadcrumbs li {
  display: inline; }

.product-list li {
  margin: 1em 0.125em 2em; }
.product-list li img {
  float: left;
  margin-right: 0.5em; }

#images > a img {
  width: 100%; }

#main, #search {
  display: block;
  width: 90%;
  padding: 0 5%;
  position: relative; }

.inline-form {
  overflow: auto;
  position: relative; }
.inline-form fieldset {
  width: 100%;
  display: block;
  position: relative; }
.inline-form input[type="text"], .inline-form input[type="search"], .inline-form select {
  width: 73%;
  margin: 0 2% 0 0;
  float: left; }
.inline-form input[type="submit"] {
  width: 20%;
  min-height: 100%;
  font-size: inherit;
  line-height: 1.66666667em;
  padding: 3% 2%;
  margin: 0; }

.module, .m-cart {
  margin: 2em 0em; }

.featured ul {
  overflow: auto; }
.featured li {
  /* width:100%;  */
  overflow: auto;
  clear: right; }
.featured li img {
  width: 45%;
  margin-right: 5%;
  float: left; }
.featured .two-columns li, .featured .three-columns li {
  text-align: center;
  margin: 0 5% 5% 0;
  position: relative;
  float: left; }
.featured .two-columns li img, .featured .three-columns li img {
  width: 100%;
  display: block; }
.featured .three-columns li {
  width: 27%; }
.featured .two-columns li {
  width: 45%; }

.category-info {
  margin-bottom: 5%;
  overflow: auto; }
.category-info img {
  float: left;
  margin-right: 5%; }

.category-list {
  margin-bottom: 5%; }
.category-list ul {
  width: 90%;
  padding: 5%; }

.warning, .stock, .success, .attention {
  margin: 1em 0;
  padding: 3%;
  font-weight: bold; }

.image {
  width: 30%;
  float: left;
  margin-right: 5%;
  clear: bottom; }
.image img {
  width: 100%; }
.image a {
  border: 0; }

.cart-total {
  float: right; }
.cart-total li {
  text-align: right; }

.cart-info li {
  overflow: auto; }
.cart-info li > div {
  margin-left: 35%; }
.cart-info li > div.image {
  margin-left: 0; }

.shipping_price {
  float: right; }

.buttons {
  display: block;
  /* width: 100%; 	 */
  width: auto;
  overflow: visible;
  clear: both;
  /* margin-bottom: 3em; */ }
.buttons:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }
.buttons .button {
  display: inline-block;
  width: 30%;
  padding: auto 3%; }
.buttons .button:first-child {
  float: left;
  margin-left: -6%;
  border-radius: 0 0.833em 0.833em 0; }
.buttons .button:last-child {
  float: right;
  margin-right: -6%;
  border-radius: 0.833em 0 0 0.833em; }

.s-error {
  display: block; }
.s-error:before {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.checkout-heading {
  padding: 0.5em;
  padding-left: 6.5%;
  margin-left: -6.5%;
  margin-bottom: 1em;
  line-height: 2em;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0 0.25em 0.25em 0;
  overflow: auto; }
.checkout-heading a {
  display: inline-block;
  float: right;
  padding: 0.25em 0.33em;
  border-radius: 0.25em;
  min-width: 5em;
  line-height: 1.33em; }
/* Order confirmation styles */
.checkout-product, .order-product {
  width: 100%;
  margin-bottom: 1.5em; }
.checkout-product th, .order-product th {
  font-weight: bold; }
.checkout-product thead th.total, .checkout-product th.quantity, .order-product thead th.total, .order-product th.quantity {
  text-align: right; }
.checkout-product td, .checkout-product th, .order-product td, .order-product th {
  padding: 1em; }
.checkout-product tfoot tr:first-child > *, .order-product tfoot tr:first-child > * {
  padding-top: 1em; }
.checkout-product tfoot th, .order-product tfoot th {
  text-align: right; }
.checkout-product tfoot th, .checkout-product tfoot td, .order-product tfoot th, .order-product tfoot td {
  padding: 0.5em 1em 0.5em 1em; }
.checkout-product tbody, .order-product tbody {
  margin-bottom: 1em; }
.checkout-product .name, .order-product .name {
  min-width: 40%; }
.checkout-product .model, .order-product .model {
  display: block;
  font-style: italic; }
.checkout-product .price, .order-product .price {
  text-align: right;
  display: block;
  margin-top: 0.5em; }
.checkout-product .quantity, .order-product .quantity {
  text-align: right;
  margin-right: 1em;
  max-width: 3em;
  vertical-align: bottom; }
.checkout-product .total, .order-product .total {
  width: auto;
  text-align: right;
  vertical-align: bottom; }

.order-item {
  margin-bottom: 2.5em; }
.order-item .order-id {
  margin-bottom: 0;
  float: left; }
.order-item .button {
  display: block;
  line-height: 3em;
  text-align: center;
  padding: 0.5em;
  border-radius: 0.833em; }
.order-item .order-status {
  margin-bottom: 0.5em;
  display: block;
  float: right;
  border-radius: 1em;
  
  padding: 0.125em 0.5em; }

.order-content, .order-detail, .order-address {
  width: 100%;
  margin-bottom: 0.75em; }
.order-content td, .order-content th, .order-detail td, .order-detail th, .order-address td, .order-address th {
  padding: 0.25em 0; }
.order-content th, .order-detail th, .order-address th {
  font-weight: bold;
  padding-left: 1em; }

.order-address td {
  padding-left: 1em; }
/* 
==============================
		Theming 
		Colors, border colors, 
		backgrounds, icons, symbols
		all can be found below.
==============================
*/
header {
  background: #003366;
  background: -webkit-gradient(linear, left top, left bottom, from(#42aaff), to(#003366));
  background: -o-linear-gradient(top, #42aaff, #003366);
  background: -o-linear-gradient(bottom, #006353, #00715e, #c7dad6);
  color: #FFF; }
header a {
  color: #FFF; }

#primary .nav {
  background: #144169;
  background: -webkit-gradient(linear, left top, left bottom, from(#437db0), to(#144169));
  border-top: 0.1em solid #C9D9E7; }
#primary .nav > a {
  color: #FFF;
  text-shadow: 0.1em 0.1em 0.1em #444; }

#primary .nav > li {
  background: none;
  border: 0.1em solid rgba(0, 0, 0, 0);
  border-top: 0;
  border-bottom: 0; }
#primary .nav > li:hover {
  border-right: 0.1em solid rgba(215, 215, 215, 0.5);
  border-left: 0.1em solid rgba(45, 45, 45, 0.5); }
#primary .nav > li a:after {
  display: none; }
#primary .nav > li ul {
  box-shadow: 0em -0.5em 0.5em -0.5em #333333;
  border: 0.1em solid #C9D9E7;
  border-top: 0.1em solid #FAFAFA;
  border-bottom: 0;
  background: #437db0;
  background: -webkit-gradient(linear, left top, left bottom, from(#437db0), to(#144169)); }
#primary .nav > li ul li {
  background: none;
  /* border: 0.1em solid #C9D9E7;*/
  border: none;
  border-bottom: 0.1em solid rgba(15, 15, 15, 0.3);
  border-top: 0.1em solid rgba(215, 215, 215, 0.3); }
#primary .nav > li ul li a {
  background: none;
  border: 0;
  color: #F0F0F0;
  /* text-shadow:  0.1em 0.1em 0.1em #C9D9E7;  */ }
#primary .nav > li ul li:last-child {
  border-bottom: 0; }

#primary .nav > li > a {
  padding: 3.9em 0 1em;
  background-image: url("../images/sprite.svg");
  -webkit-background-size: 3.125em 54.495em;
  -o-background-size: 3.125em 54.495em;
  background-size: 3.125em 54.495em;
  background-repeat: no-repeat;
  font-size: 0.75em;
  color: #FFF; }

.no-svg #primary .nav > li > a {
  background-image: url("../images/sprite.png");
  -webkit-background-size: 2.875em 45.25em;
  -o-background-size: 2.875em 45.25em;
  background-size: 2.875em 45.25em; }
/* Icon positioning from sprite */
.n-home {
  background-position: center -16.2em; }

.n-info {
  background-position: center -24.8em; }

.n-account {
  background-position: center -33.48em; }

.n-contact {
  background-position: center -41.8em; }

#primary .nav > li:hover {
  background: #144169;
  background: -webkit-gradient(linear, left top, left bottom, from(#144169), to(#235d90)); }

#secondary li {
  border: 0.1em solid #3F698D;
  border-bottom: 0;
  border-top: 0; }
#secondary li:first-child {
  border-top: 0.1em solid #3F698D; }
#secondary li:last-child {
  border-bottom: 0.1em solid #3F698D;
  background: #437db0; }
#secondary li:last-child ul li:last-child {
  border-bottom: 0; }
#secondary li ul li {
  border: 0; }
#secondary li ul li:first-child {
  border-top: 0.1em solid #31628c;
  border-radius: 0; }
#secondary li ul li:last-child {
  border-bottom: 0.1em solid #77abd9;
  border-radius: 0; }
#secondary li ul li:first-child a, #secondary li ul li:last-child a {
  border-radius: 0; }
#secondary li ul a {
  background: #4d7ea8;
  background: -webkit-gradient(linear, left top, left bottom, from(#41719c), to(#4d7ea8));
  text-shadow: 0em 0em 0.1em #555; }
#secondary a {
  background: #6298c7;
  background: -webkit-gradient(linear, left top, left bottom, from(#6298c7), to(#437db0));
  color: #EEE;
  text-shadow: 0.1em 0.1em 0.3em #000; }

.stack {
  background: #6298c7;
  background: -webkit-gradient(linear, left top, left bottom, from(#6298c7), to(#437db0));
  border: 0.1em solid #3F698D;
  box-shadow: 0em 0.1em 0em 0em #497AA5, 		0em 0.2em 0em 0em #3F698D, 		0em 0.3em 0em 0em #47769F, 		0em 0.4em 0em 0em #3F698D; }
.stack:hover {
  box-shadow: 0em 0.2em 0em 0em #497AA5, 			0em 0.3em 0em 0em #3F698D, 			0em 0.4em 0em 0em #47769F, 			0em 0.5em 0em 0em #3F698D; }

input[type="submit"], .buttons .button, .order-item .button, .button {
  border: 0.1em solid #517aa3;
  background: #003366;
  background: -webkit-gradient(linear, left top, left bottom, from(#42aaff), to(#003366));
  background-image: -o-linear-gradient(top, #42aaff, #003366);
  -webkit-box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.5), inset 0 0.1em 0.1em rgba(255, 255, 255, 0.6);
  text-shadow: 0 -0.1em 0 rgba(0, 0, 0, 0.7), 0 0.1em 0 rgba(255, 255, 255, 0.3);
  color: #FFF; }

.disabled {
  border-color: #7a7a7a;
  background: #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#a0a0a0), to(#333333));
  background-image: -o-linear-gradient(top, #a0a0a0, #333333); }

input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="number"], input[type="search"], select, option, textarea {
  border: 0.1em solid #517aa3;
  box-shadow: inset 0.1em 0.1em 0.3em #ccc; }

input[type="search"] {
  -webkit-appearance: none; }

.inline-form input[type="submit"] {
  box-shadow: none;
  -webkit-box-shadow: none; }

.warning, .stock, .success, .attention {
  border: 0.3em solid orange;
  background: #993344;
  color: #FFF;
  font-weight: bold; }

.warning {
  border-color: #A11;
  background: #E33; }

.success {
  border-color: #090;
  background: #0A0; }

.attention {
  border-color: #AA0;
  background: #FF0;
  color: #000; }

.checkout-content {
  opacity: 0;
  transition: opacity 1s ease-in;
  -webkit-transition: opacity 1s ease-in;
  /* Safari and Chrome */
  -o-transition: opacity 2s;
  /* Opera */ }

.checkout-heading {
  background: -webkit-gradient(linear, left top, left bottom, from(#6298c7), to(#437db0));
  border: 0.1em solid #3F698D;
  -webkit-box-shadow: inset 0 0.1em 0.1em rgba(255, 255, 255, 0.6);
  text-shadow: 0 -0.1em 0 rgba(0, 0, 0, 0.7), 0 0.1em 0 rgba(255, 255, 255, 0.3);
  color: #FFF; }
.checkout-heading a {
  text-transform: capitalize;
  background: -webkit-gradient(linear, left top, left bottom, from(#437db0), to(#6298c7));
  border: 0.1em solid #3F698D;
  -webkit-box-shadow: inset 0 0.1em 0.1em rgba(0, 0, 0, 0.6);
  text-shadow: 0 -0.1em 0 rgba(0, 0, 0, 0.7), 0 0.1em 0 rgba(255, 255, 255, 0.3);
  color: #EFEFEF; }
/* Order confirmation styles */
.checkout-product tbody tr:nth-child(odd) td, .order-product tbody tr:nth-child(odd) td {
  background: #F2F2F2; }

.order-status {
  background: #E0E0F1; }

.order-content tr:nth-child(even), .order-detail tr:nth-child(even) {
  background: #F4F2F2;
  /* background: #E0E0F1; */ }
/* Navigation */
.nav a:after, .stack:after {
  border-radius: 2em;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0em 0.1em 0.1em 0em rgba(0, 0, 0, 0.3), 0em 0.1em 0.1em 0em rgba(255, 255, 255, 0.3);
  padding: 0.5em;
  margin-top: -0.25em;
  content: '\25B6';
  text-shadow: none;
  line-height: 1em; }
